#cc-main {
  --cc-font-family: inherit;
  --cc-modal-border-radius: 0;
  --cc-btn-border-radius: 0;
  --cc-modal-transition-duration: 0.25s;
  --cc-modal-margin: 1rem;
  --cc-z-index: 2147483647;

  --cc-bg: #fff;
  --cc-primary-color: #000;
  --cc-secondary-color: #777;
  --cc-subtle-color: #ccc;

  --cc-btn-primary-bg: var(--cc-primary-color);
  --cc-btn-primary-color: var(--cc-bg);
  --cc-btn-primary-border-color: var(--cc-btn-primary-bg);
  --cc-btn-primary-hover-bg: var(--cc-secondary-color);
  --cc-btn-primary-hover-color: var(--cc-btn-primary-color);
  --cc-btn-primary-hover-border-color: var(--cc-btn-primary-hover-bg);

  --cc-btn-secondary-bg: transparent;
  --cc-btn-secondary-color: var(--cc-primary-color);
  --cc-btn-secondary-border-color: var(--cc-primary-color);
  --cc-btn-secondary-hover-bg: var(--cc-subtle-color);
  --cc-btn-secondary-hover-color: var(--cc-btn-secondary-color);
  --cc-btn-secondary-hover-border-color: var(--cc-btn-secondary-border-color);

  --cc-separator-border-color: transparent;

  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
  --cc-toggle-off-bg: var(--cc-secondary-color);
  --cc-toggle-on-knob-bg: var(--cc-bg);
  --cc-toggle-off-knob-bg: var(--cc-toggle-on-knob-bg);

  --cc-toggle-enabled-icon-color: var(--cc-primary-color);
  --cc-toggle-disabled-icon-color: var(--cc-primary-color);

  --cc-toggle-readonly-bg: var(--cc-subtle-color);
  --cc-toggle-readonly-knob-bg: var(--cc-bg);
  --cc-toggle-readonly-knob-icon-color: var(--cc-toggle-readonly-bg);

  --cc-section-category-border: var(--cc-cookie-category-block-bg);

  --cc-cookie-category-block-bg: transparent;
  --cc-cookie-category-block-border: var(--cc-primary-color);
  --cc-cookie-category-block-hover-bg: var(--cc-subtle-color);
  --cc-cookie-category-block-hover-border: var(--cc-primary-color);
  --cc-cookie-category-expanded-block-bg: transparent;
  --cc-cookie-category-expanded-block-hover-bg: var(--cc-secondary-color);

  --cc-overlay-bg: rgba(0, 0, 0, 0.85);
  --cc-webkit-scrollbar-bg: var(--cc-section-category-border);
  --cc-webkit-scrollbar-hover-bg: var(--cc-btn-primary-hover-bg);

  --cc-footer-bg: var(--cc-btn-secondary-bg);
  --cc-footer-color: var(--cc-secondary-color);
  --cc-footer-border-color: var(--cc-primary-color);
}
