@import 'tailwindcss';
@import './css/_vars.css';
@import './css/_lenis.css';
@import './css/_prose.css';
@import './css/_utilities.css';
@import './css/_stormy.css';
@import './css/_gradients.css';
@plugin "@tailwindcss/typography";

:root {
  --blue-oklch: 0.5354 0.19 257;
  --cream-oklch: 0.9328 0.0154 48.55;
}

@theme inline {
  --font-sans: var(--instrument-sans);
  --font-serif: var(--instrument-serif);
  --font-mono: var(--sono);
  --color-blue: oklch(var(--blue-oklch));
  --color-cream: oklch(var(--cream-oklch));
  --color-selection: oklch(var(--blue-oklch) / 0.5);
}

@theme {
  /* (mirror in _vars.css if edited) */
  --breakpoint-*: initial;
  --breakpoint-sm: 37.5rem; /* 600px */
  --breakpoint-md: 48rem; /* 768px */
  --breakpoint-lg: 64rem; /* 1024px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-3xl: 105rem; /* 1680px */

  --color-red: oklch(0.4198 0.0999 33.03);
  --color-red-25: oklch(0.4198 0.0999 33.03 / 0.25);
  --color-yellow: oklch(0.7892 0.1317 91.65);
  --color-accent: var(--color-blue);

  --leading-*: initial;
  --tracking-*: initial;

  --spacing: 0.0625rem;
  --spacing-em: 1em;
  --spacing-gut: var(--gut);
  --spacing-gut-25: calc(var(--gut) * 0.25);
  --spacing-gut-50: calc(var(--gut) * 0.5);
  --spacing-gut-75: calc(var(--gut) * 0.75);
  --spacing-gut-100: var(--gut);
  --spacing-gut-150: calc(var(--gut) * 1.5);
  --spacing-gut-200: calc(var(--gut) * 2);
  --spacing-gut-250: calc(var(--gut) * 2.5);
  --spacing-gut-300: calc(var(--gut) * 3);
  --spacing-gut-400: calc(var(--gut) * 4);
  --spacing-gut-500: calc(var(--gut) * 5);
  --spacing-gut-600: calc(var(--gut) * 6);
  --spacing-gut-700: calc(var(--gut) * 7);
  --spacing-gut-800: calc(var(--gut) * 8);
  --spacing-gut-900: calc(var(--gut) * 9);
  --spacing-gut-1000: calc(var(--gut) * 10);
  --spacing-outdent: -0.065em;
  --spacing-header: calc(var(--gut) + 26.171875vw);
}

body {
  @apply antialiased min-w-[320px] bg-blue;
}

button {
  @apply cursor-pointer;
}

/* Type Styles */

.ts-p-lg {
  @apply leading-120 text-21 xl:text-24;
}

.ts-p-md {
  @apply leading-140 xl:leading-130 text-18 xl:text-20;
}

.ts-h1 {
  @apply font-serif -tracking-1 leading-none text-32 xl:text-48;
}

.ts-h2 {
  @apply font-serif leading-none uppercase text-19 sm:text-23 xl:text-32;
}

.ts-h3 {
  @apply font-mono leading-130 uppercase font-medium text-14 xl:text-16;
}

.ts-tooltip {
  @apply font-mono leading-none uppercase font-semibold tracking-5 text-10 xl:text-12;
}

.inline-link {
  @apply nice-underline transition-colors hover:decoration-blue;
}
