@utility prose-siteColor {
  --tw-prose-body: currentColor;
  --tw-prose-headings: currentColor;
  --tw-prose-lead: currentColor;
  --tw-prose-links: currentColor;
  --tw-prose-bold: currentColor;
  --tw-prose-counters: var(--color-accent);
  --tw-prose-bullets: var(--color-accent);
  --tw-prose-hr: currentColor;
  --tw-prose-quotes: currentColor;
  --tw-prose-quote-borders: currentColor;
  --tw-prose-captions: currentColor;
  --tw-prose-code: currentColor;
  --tw-prose-pre-code: currentColor;
  --tw-prose-pre-bg: currentColor;
  --tw-prose-th-borders: currentColor;
  --tw-prose-td-borders: currentColor;
}

.prose p,
.prose li {
  @apply text-pretty;
}

.prose p:empty {
  @apply min-h-[.1px];
}

.prose li::marker {
  @apply text-accent;
}
