@keyframes stormy-wave-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.8em);
  }
}

@keyframes stormy-wave-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0.8em);
  }
}

.stormy .stormy-wave:nth-child(odd) {
  animation: stormy-wave-up 9s ease-in-out infinite;
}

.stormy .stormy-wave:nth-child(even) {
  animation: stormy-wave-down 9s ease-in-out infinite;
}
