:root {
  --gut: 1.125rem; /* 18px */
}
@media (min-width: 48rem) {
  :root {
    --gut: 1.5rem;
  }
}
@media (min-width: 64rem) {
  :root {
    --gut: 1.25rem;
  }
}
@media (min-width: 80rem) {
  :root {
    --gut: 1.5rem;
  }
}
